<h2>Band Index</h2>
<ul class="list-group">
	<% @band.each do |band| %>
	<li>
		<%= band.band_name %></br>
		<a href="/bands/<%= band.id %>/edit">Edit Band</a>
		<form action="/bands/<%= band.id %>" method="POST">
			<input type="hidden" name="_method" value="DELETE">
			<button>Delete Band</button>
		</form>
	</li>
	<% end %>
</ul>