<body>
<div class="container">
<h2 class="mt-5 py-5" style="text-align:center">Bands Index</h2>
<ul>
	<% @bands.each do |band| 
			# pp band
	%>
	<ul style="text-align: center" height=20 px>	
		<%= band.band_name %></br>
		<img class="img-fluid index-img" src="<%= band.band_url %>"></img></br>
	<form action="/bands/<%= band.id %>/edit" method="PUT">
		<input type="hidden" name="_method" value="UPDATE">
			<button class="btn btn-danger">Edit</button>
	</form>
	<form action="/bands/<%= band.id %>" method="POST">
		<input type="hidden" name="_method" value="DELETE">
			<button class="btn btn-danger">Delete</button>
	</form>
	</li>
	<% end %>
<div style="text-align:center">    
  <a href="/bands/new" style="text-align:center" font size="+2" class="btn btn-primary">Add Band</a>
</div>

</ul>

</div>

</body>