<h2>Add A New Band</h2>

<form action="new" method="POST">
	Band Name:</br>
	<input type="text" name="band_name" placeholder="band name" /></br>
	Pic URL:</br>
	<input type="text" name="band_url" placeholder="band pic url" /></br> 
		<button>Add</button>

		
</form>
<form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
</form>

<!-- <div style="text-align:center">    
  <a href="/guitarists/new" style="text-align:center" font size="+2" class="btn btn-primary">Add</a>
</div> -->