<h2>Bands Index</h2>
<ul>
	<% @bands.each do |band| 
			# pp band
	%>
	<li>
		<%= band.band_name %></br>
		<form action="/bands/<%= band.id %>/edit" method="PUT">
			<input type="hidden" name="_method" value="UPDATE">
				<button>Edit Band</button>
		</form>
		<form action="/bands/<%= band.id %>" method="POST">
			<input type="hidden" name="_method" value="DELETE">
				<button>Delete Band</button>
		</form>
	</li>
	<% end %>
</ul>