<h2>Add A New Guitarist</h2>
<form action="new" method="POST">
	Name: 
	<input type="text" name="name" placeholder="name" /></br>
	Guitarist Pic URL:
	<input type="url" name="guitarist_url" placeholder="pic url" /></br>
		<button>Add Guitarist!</button>
</form>