<h2>Add A New Guitarist</h2>
<form action="new" method="POST">
	Guitarist Pic URL:
	<input type="url" name="guitarist_url" placeholder="guitarist pic url" />
	Name: 
	<input type="text" name="name" placeholder="name" />
		<button>Add Guitarist!</button>
</form>