<h2>Add A New Guitar</h2>
<form action="new" method="POST">
	Image URL:
	<input type="url" name="guitar_image" placeholder="guitar pic url" />
	Make:
	<input type="text" name="guitar_name" placeholder="guitar make" />
	Model:
	<input type="text" name="guitar_model" placeholder="guitar model"> />
	Year:
	<input type="month" name="guitar_year" placeholder="year" />
	Finish:
	<input type="text" name="guitar_finish" placeholder="guitar finish" />
	<button>Add Guitar</button>
</form>