<!DOCTYPE html>
<html>
<head>
	<title>Guitarmy</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>
<body>
	<header>
		<nav>
			<div class="container-fluid" id="header-div">
				<a href="/bands">Bands</a>
				<a href="/guitarists">Guitarists</a>
			</div>
		</nav>

		<nav>
			<% if session[:logged_in] %>
				Logged in as <%= session[:username] %>
				<a href="/users/logout">Log Out</a>
			<% else %>
				<a href="/users/login">Log In</a> |
				<a href="/users/register">Register</a>
			<% end %>
		</nav>
	</header>

	<% if session[:message] %>
		<p class="message <%= session[:message][:status] %>"><%= session[:message][:message] %></p>
	<%
		end
		session[:message] = nil 
	%>

	<%= yield %>
	
</body>
</html>


















