/*.navbar-light .navbar-nav {
	background-image: url('https://cdn.pixabay.com/photo/2016/08/05/09/32/banner-1571873_1280.jpg')
}*/
.navbar-light .navbar-nav .nav-link:hover {
	color: green;
}

body {
	border-radius: 25px;
	background: linear-gradient(to right-bottom, rgba(0,0,0,.7), rgba(0,0,0,.9)),
	margin-right: auto;
  	margin-left: auto;
	font-family: 'Permanent Marker', cursive;
	background-size: 100%;
}

.github-button {
	margin-top: 15px;
	text-align: center;
	font-size: 20px;
}

/*.LI-profile-badge {
	margin-top: 15px;
	text-align: center;
	font-size: 20px;
}*/

.index-img{
	border-radius: 25px;
	padding: 20px;
	height: 450px;
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.add-band {
	margin-top: 15px;
	text-align: center;
	font-size: 40px;
}

.add-guitarist {
	margin-top: 15px;
	text-align: center;
	font-size: 20px;
}

.add-guitar {
	margin-top: 15px;
	text-align: center;
	font-size: 20px;
}

#header-div {
	height: 10em;
	font-size: 20px;
	line-height: 50px;
	font-weight: bold;
	font-family: 'Permanent Marker', cursive;
	text-shadow: 2px 2px #E40030;
}