body {
	background-image: url("https://www.wallpaperup.com/59104/apc_A_P_C_denim_clothing_Incase.html");
/*	background-image: url("https://www.clipart.email/download/1848414.html")
*/	/*background-image: url("https://hdwallsource.com/img/2018/6/minimal-guitar-art-background-wallpaper-66471-68738-hd-wallpapers.jpg");*/

	background-size: 100%;
	font-family: 'Permanent Marker', cursive;
}

#header-div {
	height: 5em;
	font-size: 20px;
	line-height: 50px;
	font-weight: bold;
	font-family: 'Permanent Marker', cursive;
	text-shadow: 2px 2px #E40030;
}